.DS_Store
sftp-config.json


images
# 但不忽略 .py 文件
!*.py
log
# 忽略常见的图像格式
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
images
# 忽略 PyTorch 模型权重文件
*.pth
codes/NTIRE2025_Dn50_challenge
dataset/LSDIR
results/denoising-sde
result
dataset/LSDIR